 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <li>SEMA 홈페이지 유지보수 (2019.12 ~ 2020.09) : JavaScript, Oracle, 전자정부프레임워크</li>
                    <li>SEMA 홈페이지 신규 적금 상품 기능 개발 (2019.09 ~ 2019.11) : JavaScript, Oracle, 전자정부프레임워크</li>
                    <li>KT 빅데이터 분석 플랫폼 PRISM 소셜레포트 고도화 개발 (2019.06 ~ 2019.07) : JavaScript, PostgreSQL</li>
                    <li>현대자동차 TMS(Taxonomy Management System) 개발 (2018.12 ~ 2019.05) : vue.js , node.js</li>
                    <li>현대로보틱스 Android 모바일 앱 개발 (2018.08 ~ 2018. 11) : Android Studio</li>
                    <li>ElasticSearch 기반의 Taxonomy Management System 개발(2018. 06 ~ 2018. 07) : JavaScript, ElasticSearch</li>
                    <li>농협은행 Taxonomy Management System 화면 개발 (2018. 01 - 2018. 05) : JavaScript, MySQL</li>
                    <li>머신러닝을 이용한 텍스트 분석 프로그램 개발 (2017.12 - 2018. 01) : JAVA, Python</li>
                    <li>웹크롤링 프로그램 개발 (2017. 10 - 2017. 12) : JAVA, PostgreSQL</li>
                    <li>한우114 홈페이지 유지보수 (2017. 6 - 2017. 12) : PHP , MySQL</li>
                    <li>한국산업인력공단 일학습병행제 교육 관리 시스템(LMS) 사이트 개발 및 유지보수 관리 : JavaScript, Oracle</li>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/11qeVUcOL4jHIPRN2MMq_5CtbcnOxlF7Y/view?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
