.soon9086-xJ7XU[data-border=true]:after,
.soon9086-xJ7XU [data-border=true]:after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none
}

@supports (aspect-ratio: 1) {
    body {
        --soon9086-aspect-ratio-supported: auto
    }
}

.soon9086-body-u97n3QWN6-soon9086-xJ7XU {
    background: #40798C
}

.soon9086-xJ7XU.soon9086-doh4my,
.soon9086-xJ7XU .soon9086-doh4my {
    display: block
}

.soon9086-xJ7XU.soon9086-zh0zpq {
    align-content: center;
    align-items: center;
    background-color: #40798c;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1200px
}

.soon9086-xJ7XU .soon9086-1gxrupj {
    align-content: center;
    align-items: center;
    background-color: #eef4ed;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    min-height: 550px;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%
}

.soon9086-xJ7XU .soon9086-px8uaj {
    --soon9086-link-text-color: #0099ff;
    --soon9086-link-text-decoration: underline;
    --soon9086-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 1000px;
    position: relative;
    white-space: pre;
    width: 100%
}

.soon9086-xJ7XU .soon9086-eokgvx {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    min-height: 30px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1
}

.soon9086-xJ7XU .soon9086-1wnjbmc-container {
    bottom: -40px;
    flex: none;
    height: 400px;
    left: -100px;
    position: absolute;
    width: 400px;
    z-index: 1
}

.soon9086-xJ7XU .soon9086-u5a82s-container {
    bottom: -40px;
    flex: none;
    height: 400px;
    position: absolute;
    right: -100px;
    width: 400px;
    z-index: 1
}

.soon9086-xJ7XU .soon9086-34rtza {
    align-content: center;
    align-items: center;
    background-color: #0b2545;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: auto;
    justify-content: flex-start;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%
}

.soon9086-xJ7XU .soon9086-q6gs59 {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1
}

.soon9086-xJ7XU .soon9086-1s5wxj9 {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    max-width: 600px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px
}

.soon9086-xJ7XU .soon9086-153ad2j {
    --soon9086-link-text-color: #0099ff;
    --soon9086-link-text-decoration: underline;
    --soon9086-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word
}

.soon9086-xJ7XU .soon9086-w7ll8k,
.soon9086-xJ7XU .soon9086-1vnqp2x,
.soon9086-xJ7XU .soon9086-dawvfx {
    --soon9086-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word
}

.soon9086-xJ7XU .soon9086-13gr367-container {
    flex: none;
    height: 400px;
    position: relative;
    width: 400px;
    z-index: 1
}

.soon9086-xJ7XU .soon9086-1s8bvwt-container {
    flex: none;
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: 0
}

.soon9086-xJ7XU .soon9086-19g1r6w {
    align-content: center;
    align-items: center;
    background-color: #40798c;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: 400px;
    justify-content: center;
    overflow: visible;
    padding: 100px;
    position: relative;
    width: 100%
}

.soon9086-xJ7XU .soon9086-1nuusln-container,
.soon9086-xJ7XU .soon9086-2amo8e-container,
.soon9086-xJ7XU .soon9086-12gku55-container,
.soon9086-xJ7XU .soon9086-1f42nzv-container {
    flex: none;
    height: 200px;
    position: relative;
    width: 200px
}

.soon9086-xJ7XU .soon9086-y2q58k {
    align-content: center;
    align-items: center;
    background-color: #40798c;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 34px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 100px;
    position: relative;
    width: 100%
}

.soon9086-xJ7XU .soon9086-2losmn {
    --soon9086-link-text-color: #0099ff;
    --soon9086-link-text-decoration: underline;
    --soon9086-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 100%;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 800px;
    word-break: break-word;
    word-wrap: break-word
}

.soon9086-xJ7XU .soon9086-1ozdfur {
    display: grid;
    flex: none;
    gap: 40px;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1022px
}

.soon9086-xJ7XU .soon9086-g4f720-container {
    align-self: start;
    flex: none;
    grid-column: auto / span 2;
    height: 100%;
    justify-self: start;
    position: relative;
    width: 100%
}

@supports (background: -webkit-named-image(i)) and (not (scale:1)) {

    .soon9086-xJ7XU.soon9086-zh0zpq,
    .soon9086-xJ7XU .soon9086-1gxrupj,
    .soon9086-xJ7XU .soon9086-eokgvx,
    .soon9086-xJ7XU .soon9086-34rtza,
    .soon9086-xJ7XU .soon9086-q6gs59,
    .soon9086-xJ7XU .soon9086-1s5wxj9,
    .soon9086-xJ7XU .soon9086-19g1r6w,
    .soon9086-xJ7XU .soon9086-y2q58k {
        gap: 0px
    }

    .soon9086-xJ7XU.soon9086-zh0zpq>*,
    .soon9086-xJ7XU .soon9086-34rtza>* {
        margin: 0
    }

    .soon9086-xJ7XU.soon9086-zh0zpq>:first-child,
    .soon9086-xJ7XU .soon9086-1gxrupj>:first-child,
    .soon9086-xJ7XU .soon9086-34rtza>:first-child,
    .soon9086-xJ7XU .soon9086-1s5wxj9>:first-child,
    .soon9086-xJ7XU .soon9086-y2q58k>:first-child {
        margin-top: 0
    }

    .soon9086-xJ7XU.soon9086-zh0zpq>:last-child,
    .soon9086-xJ7XU .soon9086-1gxrupj>:last-child,
    .soon9086-xJ7XU .soon9086-34rtza>:last-child,
    .soon9086-xJ7XU .soon9086-1s5wxj9>:last-child,
    .soon9086-xJ7XU .soon9086-y2q58k>:last-child {
        margin-bottom: 0
    }

    .soon9086-xJ7XU .soon9086-1gxrupj>* {
        margin: 25px 0
    }

    .soon9086-xJ7XU .soon9086-eokgvx>* {
        margin: 0 10px
    }

    .soon9086-xJ7XU .soon9086-eokgvx>:first-child,
    .soon9086-xJ7XU .soon9086-q6gs59>:first-child,
    .soon9086-xJ7XU .soon9086-19g1r6w>:first-child {
        margin-left: 0
    }

    .soon9086-xJ7XU .soon9086-eokgvx>:last-child,
    .soon9086-xJ7XU .soon9086-q6gs59>:last-child,
    .soon9086-xJ7XU .soon9086-19g1r6w>:last-child {
        margin-right: 0
    }

    .soon9086-xJ7XU .soon9086-q6gs59>* {
        margin: 0 20px
    }

    .soon9086-xJ7XU .soon9086-1s5wxj9>* {
        margin: 20px 0
    }

    .soon9086-xJ7XU .soon9086-19g1r6w>* {
        margin: 0
    }

    .soon9086-xJ7XU .soon9086-y2q58k>* {
        margin: 17px 0
    }

}

@media (min-width: 1200px) and (max-width: 1519px) {
    .soon9086-xJ7XU .hidden-zh0zpq {
        display: none !important
    }
}

@media (min-width: 810px) and (max-width: 1199px) {
    .soon9086-xJ7XU .hidden-he9m7u {
        display: none !important
    }

    .soon9086-body-u97n3QWN6-soon9086-xJ7XU {
        background: #40798C
    }

    .soon9086-xJ7XU.soon9086-zh0zpq {
        width: 810px
    }

    .soon9086-xJ7XU .soon9086-1gxrupj {
        padding: 50px;
        /* padding-bottom: 0px; */
    }

    .soon9086-xJ7XU .soon9086-1wnjbmc-container,
    .soon9086-xJ7XU .soon9086-u5a82s-container {
        /* bottom: 0; */
        height: 350px;
        width: 350px
    }

    .soon9086-xJ7XU .soon9086-34rtza {
        padding: 80px 40px
    }

    .soon9086-xJ7XU .soon9086-13gr367-container {
        height: 300px;
        width: 300px
    }

    .soon9086-xJ7XU .soon9086-19g1r6w {
        gap: unset;
        justify-content: space-evenly;
        padding: 50px
    }

    .soon9086-xJ7XU .soon9086-1nuusln-container,
    .soon9086-xJ7XU .soon9086-2amo8e-container,
    .soon9086-xJ7XU .soon9086-12gku55-container,
    .soon9086-xJ7XU .soon9086-1f42nzv-container {
        aspect-ratio: .8875 / 1;
        flex: 1 0 0px;
        height: var(--soon9086-aspect-ratio-supported, 200px);
        width: 1px
    }

    .soon9086-xJ7XU .soon9086-y2q58k {
        padding: 100px 50px
    }

    @supports (background: -webkit-named-image(i)) and (not (scale:1)) {
        .soon9086-xJ7XU .soon9086-19g1r6w {
            gap: 0px
        }

        .soon9086-xJ7XU .soon9086-19g1r6w>*,
        .soon9086-xJ7XU .soon9086-19g1r6w>:first-child,
        .soon9086-xJ7XU .soon9086-19g1r6w>:last-child {
            margin: 0
        }
    }
}

@media (max-width: 809px) {
    .soon9086-xJ7XU .hidden-1adbcmg {
        display: none !important
    }

    .soon9086-body-u97n3QWN6-soon9086-xJ7XU {
        background: #40798C
    }

    .soon9086-xJ7XU.soon9086-zh0zpq {
        width: 390px
    }

    .soon9086-xJ7XU .soon9086-1gxrupj {
        min-height: 600px;
        padding: 20px
    }

    .soon9086-xJ7XU .soon9086-px8uaj {
        order: 0
    }

    .soon9086-xJ7XU .soon9086-eokgvx {
        flex-direction: column;
        order: 1
    }

    .soon9086-xJ7XU .soon9086-1wnjbmc-container {
        bottom: 0;
        height: 300px;
        width: 300px
    }

    .soon9086-xJ7XU .soon9086-u5a82s-container {
        height: 300px;
        width: 300px
    }

    .soon9086-xJ7XU .soon9086-34rtza {
        padding: 60px 20px
    }

    .soon9086-xJ7XU .soon9086-q6gs59 {
        flex-direction: column
    }

    .soon9086-xJ7XU .soon9086-1s5wxj9 {
        flex: none;
        order: 1;
        width: 100%
    }

    .soon9086-xJ7XU .soon9086-13gr367-container {
        height: 300px;
        order: 0;
        width: 300px
    }

    .soon9086-xJ7XU .soon9086-19g1r6w {
        gap: unset;
        height: min-content;
        justify-content: space-between;
        padding: 60px
    }

    .soon9086-xJ7XU .soon9086-1nuusln-container {
        aspect-ratio: 200 / 1;
        flex: 1 0 0px;
        height: var(--soon9086-aspect-ratio-supported, 68px);
        width: 1px
    }

    .soon9086-xJ7XU .soon9086-2amo8e-container,
    .soon9086-xJ7XU .soon9086-12gku55-container,
    .soon9086-xJ7XU .soon9086-1f42nzv-container {
        aspect-ratio: 1 / 1;
        flex: 1 0 0px;
        height: var(--soon9086-aspect-ratio-supported, 68px);
        width: 1px
    }

    .soon9086-xJ7XU .soon9086-y2q58k {
        gap: 20px;
        padding: 60px 20px
    }

    @supports (background: -webkit-named-image(i)) and (not (scale:1)) {

        .soon9086-xJ7XU .soon9086-eokgvx,
        .soon9086-xJ7XU .soon9086-q6gs59,
        .soon9086-xJ7XU .soon9086-19g1r6w,
        .soon9086-xJ7XU .soon9086-y2q58k {
            gap: 0px
        }

        .soon9086-xJ7XU .soon9086-eokgvx>*,
        .soon9086-xJ7XU .soon9086-y2q58k>* {
            margin: 10px 0
        }

        .soon9086-xJ7XU .soon9086-eokgvx>:first-child,
        .soon9086-xJ7XU .soon9086-q6gs59>:first-child,
        .soon9086-xJ7XU .soon9086-y2q58k>:first-child {
            margin-top: 0
        }

        .soon9086-xJ7XU .soon9086-eokgvx>:last-child,
        .soon9086-xJ7XU .soon9086-q6gs59>:last-child,
        .soon9086-xJ7XU .soon9086-y2q58k>:last-child {
            margin-bottom: 0
        }

        .soon9086-xJ7XU .soon9086-q6gs59>* {
            margin: 20px 0
        }

        .soon9086-xJ7XU .soon9086-19g1r6w>*,
        .soon9086-xJ7XU .soon9086-19g1r6w>:first-child,
        .soon9086-xJ7XU .soon9086-19g1r6w>:last-child {
            margin: 0
        }
    }
}

@media (min-width: 1520px) {
    .soon9086-xJ7XU .hidden-o9d5qq {
        display: none !important
    }

    .soon9086-body-u97n3QWN6-soon9086-xJ7XU {
        background: #40798C
    }

    .soon9086-xJ7XU.soon9086-zh0zpq {
        width: 1520px
    }

}

.ssr-variant {
    display: contents
}

.soon9086-formspark-input::placeholder {
    color: var(--soon9086-formspark-placeholder-color) !important
}